.askForHelpBg {
    background-attachment: fixed;
    background-image: url(../assets/images/ask.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    mix-blend-mode: multiply;
    transition: 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.askForHelp {
    margin: 0;
    font-family: "Poppins", Sans-serif;
}

.askForHelp .content {
    display: flex;
    flex-direction: row;
    background-color: var(--primary);
    opacity: 0.8;
    padding-bottom: 50px;
}

.askForHelp .content header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding: 50px;
    color: var(--white);
}

#askForHelpHeader {
    font-size: 28px;
    font-weight: 500;
    margin: 0px 0px 0px 0px;
}

#askForHelpSubHeader {
    font-size: 18px;
}

.askForHelp .content .buttons {
    align-self: center;
    display: flex;
    flex-direction: row;
}

.askForHelp .content .buttons span {
    display: inline-block;
}

.askForHelp .content .buttons span a {
    text-transform: uppercase;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 20px;
    padding: 10px;
    border: 3px solid var(--white);
    border-radius: 5px;
}

#ventesBtn {
    background-color: var(--white);
}

#ventesBtn:hover {
    background-color: var(--darker);
    color: var(--white);
}

#supportBtn:hover {
    background-color: var(--white);
    color: #242424;
}