/* rooot styling  */

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,800&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* font-family: 'Karla', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace; */

body {
    padding: 0;
    margin: 0;
    color: #242424;
}

a {
    color: #242424;
    text-decoration: none;
    cursor: pointer;
}

*>* {
    box-sizing: border-box;
}

:root {
    --primary: #61CE71;
    --secondary: #adb5bb;
    --light: #f8f9f9;
    --dark: #3b3e46;
    --darker: #212529;
    --border: #e9ecef;
    --white: #ffffff;
}


/* global styling  */

.text-primary {
    color: var(--primary)
}

.text-secondary {
    color: var(--secondary)
}

.text-light {
    color: var(--light)
}

.text-dark {
    color: var(--dark)
}

.text-border {
    color: var(--border)
}

.text-white {
    color: var(--white)
}

.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-light {
    background-color: var(--light);
}

.bg-dark {
    background-color: var(--dark);
}

.bg-darker {
    background-color: var(--darker);
}

.bg-white {
    background-color: var();
}

.container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}


/* section styling */