/* rooot styling  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    padding: 0;
    margin: 0;
    color: #242424;
}

a {
    color: #242424;
    text-decoration: none;
    cursor: pointer;
}

*>* {
    box-sizing: border-box;
}

:root {
    --primary: #61CE71;
    --secondary: #adb5bd;
    --light: #f8f9fa;
    --dark: #3b3e46;
    --darker: #212529;
    --border: #e9ecef;
    --white: #ffffff;
}


/* global styling  */

.text-primary {
    color: var(--primary)
}

.text-secondary {
    color: var(--secondary)
}

.text-light {
    color: var(--light)
}

.text-dark {
    color: var(--dark)
}

.text-border {
    color: var(--border)
}

.text-white {
    color: var(--white)
}

.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-light {
    background-color: var(--light);
}

.bg-dark {
    background-color: var(--dark);
}

.bg-white {
    background-color: var();
}

.container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}


/* section styling */


/* ----------- Header---------- */


/* ----------- Upper Header---------- */

.upperHeader {
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s;
}

.nav-bar,
.nav-bar>div {
    position: relative;
    display: flex;
    flex-direction: row;
}

.nav-bar {
    justify-content: space-between;
    padding-left: 20px;
}

.upperHeader>div>ul>a {
    margin-right: 15px;
}

.nav-link:hover {
    color: var(--primary)
}

.contact {
    font-size: 13px;
}

.socialMedia {
    border-right: 2px solid var(--darker)
}

.lowerHeader {
    font-family: "Montserrat", sans-serif;
}

.lowerHeader:after {
    content: '';
    clear: both;
    display: table;
}

.nav-logo {
    padding-top: 15px;
    float: left;
    font-size: 35px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}

.lowerHeader ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

.lowerHeader ul li {
    float: left;
    display: block;
    background-color: var(--white);
    margin: 0 5px;
}

.lowerHeader ul li a {
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}

.lowerHeader ul li a:hover {
    color: var(--white);
    background-color: var(--primary);
    box-shadow: 0 0 5px var(--secondary);
}

.lowerHeader ul ul {
    position: absolute;
    top: 90px;
    transition: top .3s;
    border-top: 3px solid var(--primary);
    background-color: var(--primary);
    opacity: 0;
    visibility: hidden;
}

.lowerHeader ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

.lowerHeader ul ul li {
    font-size: 16px;
    position: relative;
    margin: 0;
    width: 150px;
    float: none;
    display: list-item;
    color: var(--white);
    background-color: var(--primary);
    padding-bottom: 2px;
}

.lowerHeader ul ul li a {
    line-height: 50px;
}

.lowerHeader ul ul li a:hover {
    color: var(--white);
    background-color: var(--primary);
    box-shadow: none;
}

.show,
.icon,
.input {
    display: none;
}


/* Responsive  */


/* Extra small devices (phones, 600px and down) */


/* Upper Header */

@media(max-width: 800px) {
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }
}


/* Lower Header */

@media all and (max-width:1200px) {
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }
    .lowerHeader ul {
        background-color: var(--primary);
        margin-right: 0px;
        float: left;
    }
    .nav-logo {
        padding-left: 30px;
        width: 100%;
    }
    .lowerHeader ul li,
    .lowerHeader ul ul li {
        background-color: var(--primary);
        text-align: center;
        display: block;
        width: 100%;
    }
    .lowerHeader ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible
    }
    .show {
        display: block;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .show:hover {
        color: var(--white)
    }
    .icon {
        margin-top: 20px;
        color: var(--primary);
        display: block;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }
    .lowerHeader ul a:hover {
        box-shadow: none;
    }
    .show+a,
    .lowerHeader ul {
        display: none;
    }
    [id^=btn]:checked+ul {
        display: block;
    }
}


/*  */