/* rooot styling  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    padding: 0;
    margin: 0;
    color: #242424;
}

a {
    color: #242424;
    text-decoration: none;
    cursor: pointer;
}

*>* {
    box-sizing: border-box;
}

:root {
    --primary: #61CE71;
    --secondary: #adb5bd;
    --light: #f8f9f9;
    --dark: #3b3e46;
    --darker: #212529;
    --border: #e9ecef;
    --white: #ffffff;
}


/* global styling  */

.text-primary {
    color: var(--primary)
}

.text-secondary {
    color: var(--secondary)
}

.text-light {
    color: var(--light)
}

.text-dark {
    color: var(--dark)
}

.text-border {
    color: var(--border)
}

.text-white {
    color: var(--white)
}

.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-light {
    background-color: var(--light);
}

.bg-dark {
    background-color: var(--dark);
}

.bg-white {
    background-color: var();
}

.container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}


/* section styling */