.packagesSection {
    margin: 20px 10px;
    padding-top: 10px;
}

#packagesTiltle {
    display: block;
    text-align: center;
    font-family: "Poppins", Sans-serif;
    font-size: 33px;
    font-weight: 600;
    text-transform: capitalize;
}

#packagesDescription {
    display: block;
    font-size: x-large;
    text-align: center;
    font-weight: 500;
    margin: 15px 0px;
}

.packagesNavbar {
    text-align: center;
    margin: 20px 0px;
    padding: 15px 0;
    font-size: x-large;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.nav-pill {
    color: #7E7E7E;
    padding: 10px 20px;
    border-radius: 25px;
}

#webHostingPill {
    display: flex;
}

#webSecurityPill {
    display: none;
}

#webHostingPill,
#webSecurityPill {
    text-align: center;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    font-family: 'Karla', sans-serif;
}

.webHostingPackage,
.webSecurityPackage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    height: 500px;
    /* width: 30% */
}

.packageIcon img {
    width: 50px;
    height: 50px;
}

.packageSubTitle {
    font-size: 16px;
    font-weight: 400;
    color: #7E7E7E;
}

.price {
    font-family: "Poppins", Sans-serif;
}

.priceCurrency,
.pricePer {
    font-size: 20px;
}

.priceValue {
    font-size: 31px;
    font-weight: 600;
}

.webHostingPackageButton,
.webSecurityPackageButton {
    margin-top: 25px;
    margin-bottom: 25px;
}

.webHostingPackageButtonText:hover,
.webSecurityPackageButtonText:hover {
    color: var(--white);
    background-color: var(--primary);
}

.webHostingPackageButtonText,
.webSecurityPackageButtonText {
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 30px 10px 30px;
    border-radius: 2px;
}

.packageFeatures ul {
    list-style: none;
    color: #7E7E7E;
    display: flex;
    flex-direction: column;
}

.packageFeatures ul li {
    display: block;
    border-top: 2px solid var(--border);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.packageFeatures ul li:hover {
    color: var(--primary)
}

.packageFeatures>span {
    font-size: 20px;
    font-weight: 400;
}


/* Web development Pill  */

#webDevelopmentPill {
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    font-family: 'Karla', sans-serif;
}

#webDevelopmentForm {
    background-color: var(--light);
    border-radius: 20px;
}

.formSection {
    margin: 15px;
}

.formSection>input,
.formSection>select {
    /* position: relative; */
    background-color: var(--light);
    width: 50%;
    /* left: 21%; */
    padding: 5px;
    font-size: 16px;
    /* border-radius: 25px; */
    border: 1px solid #818a91;
}

.formRecaptcha {
    text-align: left;
    width: 35%;
    border: 1px solid #000000;
    border-radius: 2px;
    position: relative;
    left: 30%;
    padding: 10px;
    margin: 15px;
    box-shadow: inset 0px 1px 1px rgb(0 0 0 / 10%);
}

.formRecaptcha>input {
    border: 2px solid #b2b2b2;
    border-radius: 2px;
    background-color: #fff;
    border: 2px solid #c1c1c1;
    font-size: 1px;
    height: 24px;
    position: absolute;
    width: 24px;
}

.formSubmit>input {
    width: 30%;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
}

.formSubmit>input:hover {
    border-color: var(--primary);
    background-color: var(--primary);
}