<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMYBOSS</title>
</head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>
<!-- Swiper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.3.0/swiper-bundle.min.js" integrity="sha512-+oUge+PHyEv6R7xjWkZ9zeGWbRLIs24P6/2afAClEZi+kZ2vsK+Di4Ud9ON39uAbkkcCrewO3ayzk2765bbPpw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="stylesheet" href="../style/index.css">
<link rel="stylesheet" href="../style/header.css">
<link rel="stylesheet" href="../style/searchDomain.css">
<link rel="stylesheet" href="../style/packages.css">
<link rel="stylesheet" href="../style/responsive.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<body>
    <!--***************** Header************** -->
    <header id="header">
        <!-- Upper header -->
        <nav class="upperHeader container nav-bar bg-dark text-white">
            <div class="contact">
                <ul>
                    <a href="" title="phone" class="nav-link">
                        <span class="text-white">
                            <i class="fa-solid fa-mobile-button text-primary"></i>
                            09 80 80 03 22
                        </span>
                    </a>


                    <a href="" title="email" class="nav-link">
                        <span class="text-white">
                            <i class="fa-solid fa-envelope text-primary"></i>
                            info@imyboss.com
                        </span>
                    </a>


                    <a href="" title="support" class="nav-link">
                        <span class="text-white">
                            <i class="fa-solid fa-globe text-primary"></i>
                            Support
                        </span>
                    </a>

                </ul>
            </div>
            <div>
                <ul class="socialMedia">

                    <a href="" title="facebook" class="nav-link">

                        <i class="fa-brands fa-facebook text-white"></i>

                    </a>


                    <a href="" title="twitter" class="nav-link">
                        <i class="fa-brands fa-twitter text-white"></i>

                    </a>


                    <a href="" title="instagram" class="nav-link">

                        <i class="fa-brands fa-instagram text-white"></i>

                    </a>


                    <a href="" title="linkedin" class="nav-link">

                        <i class="fa-brands fa-linkedin text-white"></i>

                    </a>

                </ul>
                <ul>

                    <a href="" title="login" class="nav-link">
                        <i class="fa-solid fa-user text-white"></i>
                    </a>
                    <a href="" title="search" class="nav-link">
                        <i class="fa-solid fa-magnifying-glass text-white"></i> </a>

                    <a href="" title="cart" class="nav-link">
                        <i class="fa-solid fa-cart-shopping text-white"></i>
                    </a>


                </ul>

            </div>

        </nav>
        <!-- Lower Header -->
        <nav class=" nav-bar lowerHeader bg-white">
            <div class="logo">
                <a href="" class="nav-logo text-primary">I'MYBOSS</a>
            </div>
            <label for="btn" class=" text- primary icon">
                <i class="fa-solid fa-bars"></i>              
            </label>
            <input type="checkbox" class="input" id="btn">
            <ul>
                <li>
                    <label for="btn-1" class="show" id="domainsLabel"> 
                         
                    </label>
                    <a href="" id="domains">

                    </a>

                    <input type="checkbox" id="btn-1" class="input">

                    <ul id="domainsMenu">
                        <li id="domianRegisteration"></li>
                        <li id="transferOfDomains"></li>
                        <li id="serachWhoIs"></li>
                        <li id="domianPolicy"></li>
                    </ul>
                </li>
                <li>
                    <label for="btn-2" class="show" id="hostingLabel">Hosting
                         
                    </label>
                    <a href="" id="hosting">Hosting
                        
                         
                    </a>
                    <input type="checkbox" id="btn-2" class="input">

                    <ul>

                    </ul>
                </li>
                <li>
                    <label for="btn-3" class="show" id="securityLabel">Security
                         
                    </label>
                    <a href="" id="security">Security
                         
                    </a>
                    <input type="checkbox" id="btn-3" class="input">

                    <ul>

                    </ul>
                </li>
                <li>
                    <label for="btn-4" class="show" id="developmentLabel">Development
                         
                    </label>
                    <a href="" id="development">Development
                         
                    </a>
                    <input type="checkbox" id="btn-4" class="input">
                    <ul>

                    </ul>
                </li>
                <li>
                    <label for="btn-5" class="show" id="marketingLabel">
                        Marketing
                         
                    </label>
                    <a href="" id="marketing">Marketing
                        
                         
                    </a>
                    <input type="checkbox" id="btn-5" class="input">
                </li>
                <li>
                    <label for="btn-6" class="show" id="languageLabel">
                        <i class="fa-solid fa-chevron-down"></i>
                    </label>
                    <a href="" id="language"><i class="fa-solid fa-globe"></i> 
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <input type="checkbox" id="btn-6" class="input">
                    <ul>
                        <li>
                            <a onclick="setLanguage('en')">
                                Engilsh
                                
                            </a>
                        </li>
                        <li>
                            <a onclick="setLanguage('fr')">
                                French
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <!--**************Search Bar ****************  -->
    <section class="searchDomain bg-light">
        <h1 class=" text-primary" id="domianSearchHeader">Tout Commence Par Un Nom De Domaine</h1>
        <form action="" class="domianSearchBar">
            <input type="search" name="domainSearchBar" id="domainSearchBar">
            <button type="submit" class="bg-primary text-white" id="searchDomainButton">search</button>
        </form>
    </section>
    <!--********************* Packages Section*************** -->
    <section class="packagesSection">
        <div class="packagesheader">
            <h1 id="packagesTiltle" class="">
                Optimisé Pour Des Performances Optimales

            </h1>
            <h5 id="packagesDescription" class="text-secondary">Une nouvelle fonctionnalité apporte un maximum de puissance à tout le monde.

            </h5>
        </div>
        <div class="packagesNavbar ">
            <a href="" class=" bg-white nav-pill" id="">Web Hosting</a>
            <a href="" class="bg-white nav-pill" id="">Web Security</a>
            <a href="" class="bg-white nav-pill" id="">Web development</a>
        </div>
        <div id="webHostingPill">
            <div id="wordpressHostingPackage" class="webHostingPackage">
                <div>
                    <div class="packageIcon">

                        <img src="../assets/images/wordpressPackageIcon.png" alt="">
                    </div>
                    <div class="packageTitle">
                        <h2 class="text-primary">
                            Hébergement WordPress
                        </h2>

                    </div>
                    <div class="packageSubTitle">

                        <h4 class="text-secandary">
                            À Partir de

                        </h4>
                    </div>
                </div>
                <div class="price">
                    <span class="text-primary">
                        <sup class="priceCurrency">

                            € 
                        </sup>
                    <span class="priceValue">

                            3.99
                        </span>
                    <sub class="pricePer">
                            /mo

                        </sub>
                    </span>
                </div>
                <div class="webHostingPackageButton">
                    <a href="" class="text-white webHostingPackageButtonText  bg-darker">
                        COMPARER
                    </a>
                </div>
                <div class="packageFeatures">
                    <span class="text-primary">
                        Commencer avec :
                    </span>
                    <ul>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <span>
                                1 Site Web
                            </span>

                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <span>

                                30 GB de stockage
                            </span>

                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <span>

                                Sauvegarde journalière
                            </span>

                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <span>
                                Pour les sites simples

                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="sharedHostingPackage" class="webHostingPackage bg-light">
                <div>
                    <div class="packageIcon">

                        <img src="../assets/images/sharedHostingPackageIcon.png" alt="">
                    </div>
                    <div class="packageTitle">
                        <h2 class="text-primary">
                            Hébergement WordPress
                        </h2>

                    </div>
                    <div class="packageSubTitle">

                        <h4 class="text-secandary">
                            À Partir de

                        </h4>
                    </div>
                </div>
                <div class="price">
                    <span class="text-primary">
                        <sup class="priceCurrency">

                            € 
                        </sup>
                    <span class="priceValue">

                            3.99
                        </span>
                    <sub class="pricePer">
                            /mo

                        </sub>
                    </span>
                </div>
                <div class="webHostingPackageButton">
                    <a href="" class="text-white webHostingPackageButtonText  bg-darker">
                        COMPARER
                    </a>
                </div>
                <div class="packageFeatures">
                    <span class="text-primary">Commencer avec :</span>
                    <ul>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <span>
                                1 Site Web
                            </span>

                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <span>

                                30 GB de stockage
                            </span>

                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <span>

                                Sauvegarde journalière
                            </span>

                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <span>
                                Pour les sites simples

                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="businessHostingPackage" class="webHostingPackage">
                <div>
                    <div class="packageIcon">

                        <img src="../assets/images/businessHositingPackageIcon.png" alt="">
                    </div>
                    <div class="packageTitle">
                        <h2 class="text-primary">
                            Hébergement WordPress
                        </h2>

                    </div>
                    <div class="packageSubTitle">

                        <h4 class="text-secandary">
                            À Partir de

                        </h4>
                    </div>
                </div>
                <div class="price">
                    <span class="text-primary">
                        <sup class="priceCurrency">

                            € 
                        </sup>
                    <span class="priceValue">

                            3.99
                        </span>
                    <sub class="pricePer">
                            /mo

                        </sub>
                    </span>
                </div>
                <div class="webHostingPackageButton">
                    <a href="" class="text-white webHostingPackageButtonText  bg-darker">
                        COMPARER
                    </a>
                </div>
                <div class="packageFeatures">
                    <span class="text-primary">Commencer avec :</span>
                    <ul>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <span>
                                1 Site Web
                            </span>

                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <span>

                                30 GB de stockage
                            </span>

                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <span>

                                Sauvegarde journalière
                            </span>

                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <span>
                                Pour les sites simples

                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="webSecurityPill"></div>
            <div id="webDevelopmentPill"></div>
    </section>
    <script src="../script/index.js"></script>


</body>

</html>