<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMYBOSS</title>
</head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>
<link rel="stylesheet" href="../style/index.css">

<body>
    <header id="header">
        <!-- Upper header -->
        <nav class="upperHeader container nav-bar bg-dark text-white">
            <div class="contact">
                <ul>
                    <a href="" title="phone" class="nav-link">
                        <span class="text-white">
                            <i class="fa-solid fa-mobile-button text-primary"></i>
                            09 80 80 03 22
                        </span>
                    </a>


                    <a href="" title="email" class="nav-link">
                        <span class="text-white">
                            <i class="fa-solid fa-envelope text-primary"></i>
                            info@imyboss.com
                        </span>
                    </a>


                    <a href="" title="support" class="nav-link">
                        <span class="text-white">
                            <i class="fa-solid fa-globe text-primary"></i>
                            Support
                        </span>
                    </a>

                </ul>
            </div>
            <div>
                <ul class="socialMedia">

                    <a href="" title="facebook" class="nav-link">

                        <i class="fa-brands fa-facebook text-white"></i>

                    </a>


                    <a href="" title="twitter" class="nav-link">
                        <i class="fa-brands fa-twitter text-white"></i>

                    </a>


                    <a href="" title="instagram" class="nav-link">

                        <i class="fa-brands fa-instagram text-white"></i>

                    </a>


                    <a href="" title="linkedin" class="nav-link">

                        <i class="fa-brands fa-linkedin text-white"></i>

                    </a>

                </ul>
                <ul>

                    <a href="" title="login" class="nav-link">
                        <i class="fa-solid fa-user text-white"></i>
                    </a>
                    <a href="" title="search" class="nav-link">
                        <i class="fa-solid fa-magnifying-glass text-white"></i> </a>

                    <a href="" title="cart" class="nav-link">
                        <i class="fa-solid fa-cart-shopping text-white"></i>
                    </a>


                </ul>

            </div>

        </nav>
        <!-- Lower Header -->
        <nav class=" nav-bar lowerHeader bg-white">
            <div class="logo">
                <a href="" class="nav-logo text-primary">I'MYBOSS</a>
            </div>
            <label for="btn" class=" text- primary icon">
                <i class="fa-solid fa-bars"></i>              
            </label>
            <input type="checkbox" class="input" id="btn">
            <ul>
                <li>
                    <label for="btn-1" class="show">Domains +</label>
                    <a href="" id="domains">Domains
                        
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <input type="checkbox" id="btn-1" class="input">

                    <ul>
                        <li>one</li>
                        <li>two</li>
                        <li>three</li>
                    </ul>
                </li>
                <li>
                    <label for="btn-2" class="show">Accomodations</label>
                    <a href="" id="accomodation">Accomodation
                        
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <input type="checkbox" id="btn-2" class="input">

                    <ul>
                        <li>one</li>
                        <li>two</li>
                        <li>three</li>
                    </ul>
                </li>
                <li>
                    <label for="btn-3" class="show">Security</label>
                    <a href="" id="security">Security
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <input type="checkbox" id="btn-3" class="input">

                    <ul>
                        <li>one</li>
                        <li>two</li>
                        <li>three</li>
                    </ul>
                </li>
                <li>
                    <label for="btn-4" class="show">Development</label>
                    <a href="" id="development">Development
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <input type="checkbox" id="btn-4" class="input">
                    <ul>
                        <li>one</li>
                        <li>two</li>
                        <li>three</li>
                    </ul>
                </li>
                <li>
                    <label for="btn-5" class="show" Marketing</label>
                    <a href="" id="marketing">Marketing
                        
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <input type="checkbox" id="btn-5" class="input">
                </li>
                <li>
                    <label for="btn-6" class="show">Language</label>
                    <a href="" id="language"><i class="fa-solid fa-globe"></i> En
                        <i class="fa-solid fa-chevron-down"></i>
                    </a>
                    <input type="checkbox" id="btn-6" class="input">
                    <ul>
                        <li>
                            <a>
                                Engilsh
                                
                            </a>
                        </li>
                        <li>
                            <a>
                                French
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>



</body>

</html>