<div id="webDevelopmentPill">
    <form action="" id="webDevelopmentForm">
        <header class="webDevelopmentFormTitle">
            <h1 id="webDevelopmentFormTitle">
                Demande de Devis
            </h1>
            <div class="formSection">

                <label for="webDevelopmenteNameInput" id="webDevelopmenteNameLabel">Name</label>
                <input type="text" name="webDevelopmenteNameInput">
            </div>

            <div class="formSection">

                <label for="webDevelopmenteEmailInput" id="webDevelopmenteEmailLabel">
                    E-mail
                </label>
                <input type="email" name="webDevelopmenteEmailInput">
            </div>
            <div class="formSection">

                <label for="webDevelopmenteTelephoneInput" id="webDevelopmenteTelephoneLabel">Telephone</label>
                <input type="text" name="webDevelopmenteNameInput">
            </div>
            <div class="formSection">
                <label for="webDevelopmenteProjectInput" class="webDevelopmenteProjectLabel">Project</label>
                <optgroup>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </optgroup>
            </div>

        </header>
    </form>
</div>