<section id="performanceAndSpeedSection" class="descriptionSection">
    <div class="imgSection">
        <div><img src="../assets/images/performanceAndSpeed.png" alt=""></div>
    </div>
    <div class="sectionText">
        <header>
            <div class="subHeader">
                <span>
                    PERFORMANCES ET VITESSE
                </span>
            </div>
            <div class="sectionHeader">
                <span>
                    Sites Web simplement rapides
                </sp>
            </div>
        </header>
        <article>
            <p>
                La vitesse du site Web peut ralentir ou développer votre entreprise. Faites plaisir à vos visiteurs avec un site Web ultra-rapide.

            </p>
        </article>
    </div>
    
</section>


<section id="flexableAndScalableSection" class="descriptionSection">
    <div class="sectionText">
        <header>
            <div class="subHeader">
                <span>
                    FLEXIBLE ET ÉVOLUTIF
                </span>
            </div>
            <div class="sectionHeader">
                <span>
                    De la micro à la grande échelle
                </sp>
            </div>
        </header>
        <article>
            <p>
                Des projets différents nécessitent des technologies différentes. Choisissez un forfait qui correspond à vos besoins actuels.


            </p>
        </article>
    </div>
    <div class="imgSection">
        <div><img src="../assets/images/flexableScalable.png" alt=""></div>
    </div>
</section>