<section id="userFriendlyControlPanelSection">
    <header>
        <h1 id="userFriendlyCPTitle" class="">
            Panneau De Configuration Convivial
        </h1>
        <h5 id="userFriendlyCPDescription" class="text-secondary">
            Une nouvelle fonctionnalité apporte un maximum de puissance à tout le monde.
        </h5>

    </header>
    <section>
        <div>
            <div class="imgSection">
                <img src="../assets/images/ufcp.png" alt="">
            </div>
        </div>
        <div class="userFriendlyCPProperties">
            <div class="sectionText">
                <div><img src="" alt=""></div>
                <div class="sectionHeader">
                    <span>
                Facilité d'utilisation

                </span>
                </div>
                <article>
                    <p>
                        Le panneau I'MYBOSS est extrêmement convivial et peut être utilisé par ceux qui ont peu d'expérience dans le développement de sites Web.


                    </p>
                </article>
            </div>
            <div class="sectionText">
                <div><img src="" alt=""></div>
                <div class="sectionHeader">
                    <span>Puissance

                </span>
                </div>
                <article>
                    <p>
                        Une grande variété d'outils pour satisfaire les besoins avancés des utilisateurs et des développeurs de sites Web.


                    </p>
                </article>
            </div>
            <div class="sectionText">
                <div><img src="" alt=""></div>
                <div class="sectionHeader">
                    <span>WordPress optimisé

                </span>
                </div>
                <article>
                    <p>
                        Obtenez plus de vitesse, un meilleur référencement, une rétention des visiteurs et des conversions avec notre pile d'optimisation WP personnalisée.


                    </p>
                </article>
            </div>
        </div>
    </section>
</section>